<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>Member</servlet-name>
    <servlet-class>com.imagestore.control.MemberController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>member.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Member</servlet-name>
    <url-pattern>*.member</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>qna</servlet-name>
    <servlet-class>com.imagestore.control.QnaController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>qna.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>qna</servlet-name>
    <url-pattern>*.qna</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mypage</servlet-name>
    <servlet-class>com.imagestore.control.MyPageController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>mypage.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>mypage</servlet-name>
    <url-pattern>*.mypage</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.imagestore.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.imagestore.control.SearchController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>search.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>*.search</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Amateur</servlet-name>
  	<servlet-class>com.imagestore.control.SearchController</servlet-class>
  		<init-param>
  			<param-name>properties</param-name>
  			<param-value>amateur.properties</param-value>
  		</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Amateur</servlet-name>
  	<url-pattern>*.amateur</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Payment</servlet-name>
  	<servlet-class>com.imagestore.control.SearchController</servlet-class>
  		<init-param>
  			<param-name>properties</param-name>
  			<param-value>payment.properties</param-value>
  		</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Payment</servlet-name>
  	<url-pattern>*.payment</url-pattern>
  </servlet-mapping>
</web-app>