* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
}
.body{
	width: 1200px;
    padding: 50px;
    margin: 0 auto;
    min-height: 100%;
    background-color: #f1f1f1;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}
.content img {
	width: 269px;
	height: 201px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}
/* 검색창 */
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 500px;
}

.sel {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
}
.content video {
	height: 180px;
}
.header_font {
	color:#83b14e;
    margin-top: 30px;
}
.container {
	min-width: 1000px;
	width:1000px;
	padding: 0px;
}